html,
body {
    padding: 0;
    margin: 0;
}

@keyframes FadeInAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}
  
.projectCard{
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    transition: 0.3s;  
}

.projectCard:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.sectionShadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.sectionShadow:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.contactFormBase{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 500px;
    justify-content: space-between;
}


.projectCard{
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    transition: 0.3s;;
}

.projectCard:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

.sectionShadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.sectionShadow:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.contactFormBase{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 500px;
    justify-content: space-between;
}
  
.gradient-overlay {
    position: relative;
    display: inline-block; /* Adjust based on your layout needs */
}

.gradient-overlay img {
    display: block;
    width: 100%; /* Make sure the image takes full width of the container */
    height: auto; /* Maintain the aspect ratio */
}

.gradient-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* Example gradient - adjust colors and direction as needed */
    z-index: 1;
    pointer-events: none; /* Allows clicks to pass through to the image */
}

.my-custom-cursor {
    animation: blink-cursor 1s step-end infinite;
  }
  
@keyframes blink-cursor {
    from, to {
        opacity: 0;
}
    50% {
        opacity: 0;
    }
}

.my-custom-cursor.hide-cursor {
    opacity: 0; /* Hide the cursor */
    animation: none; /* Stop the blinking animation */
}

.fade-in {
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}
